<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title><%= module.title %></title>
		<link rel="stylesheet" href="/style_sheets/dashboard.css">
		<link rel="stylesheet" href="/style_sheets/module.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		<script
		src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" ></script>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="/">LearningPointers</a>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
			</ul>
			<span class="navbar-text">Back</span>
		</div>
	</nav>
	<div class="container">
		<div class="card" style="width: 100%">
			<div class="card-block">
				<div class="row">
					<div class="col-lg-8">
						<h1><%= module.title %></h1>
					</div>
					<div class="col-lg-4">
						Rate this module: <div id="rating"></div>
					</div>
				</div>
			</div>
			<div class="card-block" id="html"><%= module.text_md %></div>
			<div class="card-block">
				<a href="#" class="btn btn-primary">Take the test</a>
				<% if(isAuthor) { %>
					<a href="/course/<%=course.url%>/modules/<%=module_index%>/edit"
						class="btn btn-success">Edit this module</a>
				<% } %>
			</div>
		</div>
	</div>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<h4 align="left">Comments:</h4>
			</div>
			<div class="col-lg-4">
			</div>
		</div>
		<% if(!comments.length) { %>
			<h6>No comments</h6>
		<% } else { %>
			<ul class="list-group">
			<% comments.forEach(function(comment) { %>
				<li class="list-group-item"><%= comment.comment_text %></li>
			<% }) %>
			</ul>
		<% } %>
	</div>
	<br>
	<div class="container">
		<h4 align="left">Add a comment</h4>
		<form>
			<div class="form-group">
				<textarea class="form-control" placeholder="Comment" id="comment"></textarea>
			</div>
			<div class="form-group">
				<button class="btn btn-primary btn-block" id="send">Send</button>
			</div>
		</form>
	</div>

	<script src="https://cdn.rawgit.com/showdownjs/showdown/1.7.1/dist/showdown.min.js"></script>

	<script>
		var converter = new showdown.Converter();
		var md = document.getElementById("html").innerHTML;
		console.log(md);
		function render(pgf) {
			return converter.makeHtml(pgf);
		}
		document.getElementById("html").innerHTML = render(md);

		$("#send").click(function() {
			$.post('/comments/<%=module.id%>/add', {comment: $("#comment").val()}, function(data) {
				console.log(data);
			});
		});

		$(function () {
			$("#rating").rateYo({
				rating: parseFloat('<%=module.avg_rating%>'),
				onSet: function (rating) {
					$.post('/rating/<%=module.id%>/add', {
						rating: rating
					}, function(data) {
						console.log(data);
					});
				}
			});
		});
	</script>

	</body>
</html>
